name: Run Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  fsharp:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup
      run: |
        sudo npm install -g bats

    - name: Setup dotnet 7
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '7.0.x'

    - name: Tests
      working-directory: FSharp
      run: bats test.bats

  rust:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup
      run: |
        sudo npm install -g bats

    - name: Tests
      working-directory: Rust
      run: bats test.bats

  csharp:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup
      run: |
        sudo npm install -g bats

    - name: Setup dotnet 7
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '7.0.x'

    - name: Tests
      working-directory: CSharp
      run: |
        dotnet publish --configuration Release --output app CSharp.csproj
        bunzip2 ../semeion.data.bz2
        bats test.bats

  cpp:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup
      run: |
        sudo npm install -g bats

    - name: Tests
      working-directory: Cpp
      run: bats test.bats

  c:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup
      run: |
        brew install bats-core

    - name: Tests
      working-directory: C
      run: bats test.bats

  kotlin:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Build
      working-directory: Kotlin
      run: make && make run

  go:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup
      run: |
        sudo npm install -g bats
    - name: Tests
      working-directory: Go
      run: bats test.bats

  java:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup
      run: |
        sudo npm install -g bats
    - name: Build
      working-directory: Java
      run: make jar
    - name: Tests
      working-directory: Java
      run: bats test.bats

  zig:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        run: |
          sudo npm install -g bats

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.14.0

      - name: Tests
        working-directory: Zig
        run: bats test.bats